{% extends 'base.html.twig' %}

{% block title %}Hello AdminProductController!
{% endblock %}

{% block body %}
	<div class="container">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Photo</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Emplacement</th>
					<th scope="col">Quantity</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>

						<td>{{product.id}}</td>
						<td scope="col"><img src="{{ asset("media/" ~ product.img) }}" alt="Véhicule" width="100px"></td>
						<td>{{product.name}}</td>
						<td>{{product.description}}</td>
						<td>{{product.emplacement}}</td>
						<td>{{product.quantity}}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
